# Layer Configuration File

#============================== INPUT / OUTPUT ==============================
SourceWidth     352                     # Input  frame width
SourceHeight    288                     # Input  frame height
FrameRateIn     30                      # Input  frame rate [Hz]
FrameRateOut    30                      # Output frame rate [Hz]
InputFile       orig/HRD_352x288_30.yuv     # Input  file
ReconFile       tmp/HRD_rec_L2.yuv # Reconstructed file
SymbolMode	0			#0=CAVLC

#============================== DECOMPOSITION (MCTF) ==============================
ClosedLoop      1                       # Closed-loop control (0,1:at H rate, 2: at L+H rate)
FRExt           0                       # FREXT mode (0:off, 1:on)
#============================== CODING (MCTF) ==============================
MaxDeltaQP      0                       # Max. absolute delta QP
QP              28.0                    # Quantization parameters
NumFGSLayers    0                       # Number of FGS layers ( 1 layer - ~ delta QP = 6 )
FGSMotion       0                       # motion refinement in FGS layers (0:off, 1:on)

#============================== CONTROL ==============================
MeQP0           28.00                   # QP for motion estimation / mode decision (stage 0)
MeQP1           28.00                   # QP for motion estimation / mode decision (stage 1)
MeQP2           28.00                   # QP for motion estimation / mode decision (stage 2)
MeQP3           28.00                   # QP for motion estimation / mode decision (stage 3)
MeQP4           28.00                   # QP for motion estimation / mode decision (stage 4)
MeQP5           28.00                   # QP for motion estimation / mode decision (stage 5)

InterLayerPred  2                       # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
BaseQuality     3                       # Base quality level (0, 1, 2, 3) (0: no, 3, all) 
