# Layer Configuration File

#============================== INPUT / OUTPUT ==============================
SourceWidth     352                     # Input  frame width
SourceHeight    288                     # Input  frame height
FrameRateIn     30                      # Input  frame rate [Hz]
FrameRateOut    30                      # Output frame rate [Hz]
InputFile       orig/MLQL_352x288_30.yuv      # Input  file
ReconFile       tmp/MLQL_rec_L1.yuv  # Reconstructed file

#============================== DECOMPOSITION (MCTF) ==============================
UpdateStep      0                       # Update Step (0: no 1: yes)
ClosedLoop      2                       # Closed-loop control (0:off, 1:at H rate, 2: at L+H rate)
AdaptiveQP      1                       # QP selection (0: standard, 1: adaptive)
UseIntra        1                       # Intra mode usage (0: off, 1: on)
FRExt           0                       # FREXT mode (0:off, 1:on)

#============================== CODING (MCTF) ==============================
MaxDeltaQP      1                       # Max. absolute delta QP
QP              38.20                   # Quantization parameters
NumFGSLayers    2.0                     # Number of FGS layers ( 1 layer - ~ delta QP = 6 )

#============================== CONTROL (MCTF) ==============================
MeQP0           37.00                   # QP for motion estimation / mode decision (stage 0)
MeQP1           37.00                   # QP for motion estimation / mode decision (stage 1)
MeQP2           37.00                   # QP for motion estimation / mode decision (stage 2)
MeQP3           37.00                   # QP for motion estimation / mode decision (stage 3)
MeQP4           37.00                   # QP for motion estimation / mode decision (stage 4)
MeQP5           37.00                   # QP for motion estimation / mode decision (stage 5)

InterLayerPred  2                       # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
BaseQuality     3                       # Base quality level [0..15] (0: no, 15: all) 

MotionInfoMode  1                       # Motion Info Mode (0:no, 1:load, 2:save )
MotionInfoFile  mot/MLQL_L1.mot      # Motion Info File

#============================== CHROMA POSITION ===============================
UseESS              1                   # ESS
ESSChromaPhaseX     0                   # chroma phase x "0" or "-1", default = -1
ESSBaseChromaPhaseX 0                   # base chroma phase x "0" or "-1", default = -1
ESSCropWidth        352                 # cropping width
ESSCropHeight       288                 # cropping height
